{% extends "_layout/_base_app.html" %}

{% block title %}Scribbli | New Character{% endblock %}

{% block body %}
    <h1>New Character on {{ world.name }}</h1>

    <form method="post" action="{% url 'universe_character_create' world.id %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.name.label_tag }}</td>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <td>{{ form.description.label_tag }}</td>
                <td>{{ form.description }}</td>
            </tr>
        </table>
    
        <input type="submit" value="Create">
    </form>
{% endblock %}