{% extends "_layout/_base.html" %}

{% block title %}Scribbli - Ready {{ story.name }}{% endblock %}

{% comment %}
	Eventually this page will be split out into multiple pages:
	    - [ ] Page which story owner sees.
	    - [ ] Page which co-authors see.
	    - [ ] Page which everyone else sees.
{% endcomment %}

{% block body %}
    <h1>{{ story.name }}</h1>
    <small>Author: {{ story.owner.username }}</small>
    <p>
        {{ story.description }}
    </p>

    <h2>Characters</h2>
    <ul>
        {% for character in story.characters.all %}
            <li>
                <a href="{% url 'universe_character_detail' character.id %}">{{ character.name }}</a>
            </li>
            {% if forloop.last %}
                <li>
                    {% if user.characters.exists %}
                        <a href="javascript:"
                           _="on click show #join-request-box"
                           hx-get="{% url 'my_p_characters_select' %}"
                           hx-trigger="click"
                           hx-target="#my-character-list"
                           hx-swap="outerHTML"
                        >
                            Submit one of your own?
                        </a>
                    {% else %}
                        To join this story, you must first
                        <a href="{% url 'universe_character_create' story.world_id %}">create a character.</a>
                    {% endif %}
                </li>
            {% endif %}
        {% empty %}
            <li>
                No characters (yet).
                {% if user.characters.exists %}
                    <a href="javascript:"
                       _="on click show #join-request-box"
                       hx-get="{% url 'my_p_characters_select' %}"
                       hx-trigger="click"
                       hx-target="#my-character-list"
                       hx-swap="outerHTML"
                    >
                        Join with one of your characters?
                    </a>
                {% else %}
                    To join this story, you must first
                    <a href="{% url 'universe_character_create' story.world_id %}">create a character.</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <div id="join-request-box" style="display:none">
        <h2>
            Request to join this story
            <a
                    href="javascript:"
                    _="on click hide #join-request-box"
            >x</a>
        </h2>
        <form
                hx-post="{% url 'story_join_request_submit' story.id %}"
                _="on submit hide me then show #join-request-box-done then wait 100ms set #join-request-box-done.innerText to my.innerText"
        >
            {% csrf_token %}
            <div id="my-character-list">
            </div>
            <input type="submit" value="Send Join Request">
        </form>
        <div id="join-request-box-done" style="display:none">
            Loading...
        </div>
    </div>

    <h2>Links</h2>
    <ul>
        <li>
            <a href="{% url 'universe_world_detail' story.world_id %}">{{ story.world.name }}</a>
        </li>
    </ul>

    {% if is_owner %}
        <h2>Owner-Only Actions</h2>
        <ul>
            <li>
                <a href="{% url 'story_update' story.id %}">Edit Story</a>
            </li>
            <li>
                <a href="#">Manage Threads</a>
                {# TODO: Link to thread management page when ready. #}
            </li>
            <li>
                <a href="{% url 'story_join_request_list' story.id %}">View Join Requests</a>
            </li>
        </ul>
    {% endif %}

{% endblock %}