{% extends "_layout/_base.html" %}

{% block title %}Scribbli | Edit {{ world.name }}{% endblock %}

{% block body %}
    <h1>Edit World</h1>

    <form method="post" action="{% url 'universe_world_update' world.id %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.name.label_tag }}</td>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <td>
                    {{ form.visibility.label_tag }}
                </td>
                <td>
                    {{ form.visibility }}
                </td>
            </tr>
        </table>
    
        <input type="submit" value="Update">
    </form>
{% endblock %}