<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Scribbli{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"
            integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <style>
        nav {
            display: flex
        }
        nav > a {
            margin-right: 1em;
        }
    </style>
    {% block head_extras %}
    {% endblock %}
</head>
<body>

<nav>
    <a href="{% url 'my_home' %}">Home</a>
    <a href="{% url 'universe_world_list' %}">Universe</a>
    {% if user.is_authenticated %}
        {% include '_partials/authed-user-actions.html' %}
    {% endif %}
</nav>

{% block body %}
{% endblock %}

{% block body_extras %}
{% endblock %}
</body>
</html>