{% extends "_layout/_base.html" %}

{% block title %}Scribbli | Home{% endblock %}

{% block body %}
    <h1>Welcome home, {{ user.username }}!</h1>

    <h2>Your Worlds</h2>
    <ul>
        {% for world in user_worlds %}
        {% empty %}
            {% comment %}TODO: Update link when world creation page is available.{% endcomment %}
            <li>You have not created any worlds yet, [start here]!</li>
        {% endfor %}
    </ul>

    <h2>Your Stories</h2>
    <ul>
        {% for story in user_stories %}
        {% empty %}
            {% comment %}
                TODO: Update link when story creation page is available.
                TODO: Add tabbed filters for "I am authoring" and "I am reading".
            {% endcomment %}
            <li>You have not written any stories yet, [explore the universe and write your first story]!</li>
        {% endfor %}
    </ul>

    <h2>Your Characters</h2>
    <ul>
        {% for character in user_characters %}
        {% empty %}
            <li>You do not have any characters, [explore the universe and make your first character]!</li>
        {% endfor %}
    </ul>
{% endblock %}